<h1>Scan to add your music</h1>
<fieldset><legend>Album to Add</legend>
<label for="barcode">Barcode: </label>
<input type="text" id="scannedBarcode" name="barcode">
</fieldset><br>
<fieldset><legend>Results</legend>
<label for="artist">Artist:</label>
<input type="text" id="artist" name="artist" disabled><br><br>
<label for="album">Album:</label>
<input type="text" id="album" name="album" disabled><br><br>
<label for="year">Year:</label>
<input type="text" id="year" name="year" disabled><br><br>
<label for="genre">Genre:</label>
<input type="text" id="genre" name="genre" disabled><br><br>
<label>Song List:</label><br><br>
<textarea id="songs" name="songs" cols="80" disabled></textarea>
</fieldset>